<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Ignite Talks</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <h3>Thursday, March 2, 9:30 - 11:30</h3>
              <h4><strong>Neural subtypes of depression: a promising approach for predicting treatment response</strong> - Jonathan Downar Ph.D. Co-Director of the MRI-Guided rTMS Clinic, University Health Network, Toronto Western Research Institute</h4>
              <h4><strong>Integrating neuroimaging and genetics to ask questions about neurodevelopment in a large community sample</strong> -Anne Wheeler, PhD, SickKids Research Institute, Neuroscience and Mental Health & University of Toronto, Physiology Department</h4>
              <h4><strong>Of mice and men: integrating cross-species imaging data</strong> - Jason Lerch, PhD, Senior Scientist, The Hospital for Sick Children, and Associate Professor, The University of Toronto.</h4>
              <h4><strong>A quick introduction to two open multi-omic datasets</strong> - Leon French, Ph.D. Independant Scientist, Campbell Family Mental Health Research Institute, Centre for Addiction and Mental Health, Toronto. <a href="/slides/BrainHack2017.pptx">PPT slides</a><a href="www.chibi.ubc.ca/~lfrench/HBAset/">Human Polygenic tool</a><a href="http://excross.chibi.ubc.ca">Mouse Polygenic tool</a></h4>
              </div>
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <h3>Friday, March 3, 10:30 - 11:00</h3>
               <h4><strong>Multi-Centre Challenges in rsfMRI and Choosing an Effective Preprocessing Pipeline</strong> - Stephen Strother, PhD, Senior Scientist, Rotman Research Centre, Baycrest and Professor, Medical Biophysics, University of Toronto</h4>
          </div>
      </div>
  </div>
</section>
